body{
    box-sizing: border-box;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.player, .computer{
    border: 1px solid black;
    width:500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
}
.grid{
    border: 1px solid black;
}
.hit{
    font-weight: 700;
    color: red;
}
.missed{
    font-weight: 700;
    color: blue;
}
.ship{
    background-color: grey;
}